@font-face {
    font-family: 'DaysOne';
    src: url('fonts/DaysOne-Regular.ttf');
}

@font-face {
    font-family: 'AvenirNext';
    src: url('fonts/Avenir-Next-LT-Pro-Regular.otf');
}

:root {
    --dark-blue: rgb(0, 75, 115);
    --red: rgb(234, 83, 115);
    --vue-green: rgb(66, 184, 131);
    --blue: rgb(0, 123, 255);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--red);
}

#app {
    height: calc(100vh - 3rem);
    width: calc(100vw - 2rem);
    padding: 1rem;
    overflow-y: hidden;
}
